.recipedisplay {
  margin-top: 40px;
}

.recipe {
  padding: 40px;
  background-color: #fd6b8a;
  border: 5px solid white;
}

h2 {
  color: #70ceff;
  font-size: 1.25em;
}

h1, h2, h3, h4, h5 {
  font-family: 'Libre Baskerville', serif;
  color:#FFF;
}

span, p, li {
  font-family: 'Roboto',sans-serif;
  color:#FFF;
}
